
form{
    width: 50%;
    height: 60vh;
    background-color: aqua;
}
.div1{
    width: 100%;
    height: 20vh;
    background-color: blue;
}
.div2{
    width: 100%;
    height: 40vh;
    background-color: blueviolet;
    text-align: center;
}
#inp1{
    width: 100%;
    height: 10vh;
    margin-top: 40px;
}
#bt1{
    width: 20.5%;
    height: 5vh;
    margin-top: 40px;
}
#bt2{
    width: 10%;
    height: 5vh;
}
#bt3{
    width: 10%;
    height: 5vh;
}
#bt4{
    width: 20.5%;
    height: 5vh;
}
#bt5{
    width: 10%;
    height: 5vh;
}
#bt6{
    width: 10%;
    height: 5vh;
}
#bt7{
    width: 10%;
    height: 5vh;
}
#bt8{
    width: 10%;
    height: 5vh;
}
#bt9{
    width: 10%;
    height: 5vh;
}
#bt10{
    width: 10%;
    height: 5vh;
}
#bt11{
    width: 10%;
    height: 5vh;
}
#bt12{
    width: 10%;
    height: 5vh;
}
#bt13{
    width: 10%;
    height: 5vh;
}
#bt14{
    width: 10%;
    height: 5vh;
}
#bt15{
    width: 10%;
    height: 5vh;
}
#bt16{
    width: 10%;
    height: 5vh;
}
#bt17{
    width: 10%;
    height: 5vh;
}
#bt18{
    width: 10%;
    height: 5vh;
}
#bt19{
    width: 10%;
    height: 5vh;
}
#bt20{
    width: 10%;
    height: 5vh;
}
#bt21{
    width: 10%;
    height: 5vh;
}
#bt22{
    width: 10%;
    height: 5vh;
}
#bt23{
    width: 10%;
    height: 5vh;
}
#bt24{
    width: 10%;
    height: 5vh;
}
#bt25{
    width: 10%;
    height: 5vh;
}
#bt26{
    width: 10%;
    height: 5vh;
}
#bt27{
    width: 10%;
    height: 5vh;
}
#bt28{
    width: 10%;
    height: 5vh;
}
#bt29{
    width: 10%;
    height: 5vh;
}
#bt30{
    width: 10%;
    height: 5vh;
}
#bt31{
    width: 10%;
    height: 5vh;
}
#bt32{
    width: 10%;
    height: 5vh;
}
#bt33{
    width: 10%;
    height: 5vh;
}
#bt34{
    width: 10%;
    height: 5vh;
}
#bt35{
    width: 20.5%;
    height: 5vh;
}
#bt36{
    width: 10%;
    height: 5vh;
}
#bt37{
    width: 10%;
    height: 5vh;
}
#bt38{
    width: 10%;
    height: 5vh;
}